<a href="https://colab.research.google.com/github/mazette04/OOP-58003/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Python Fundamentals

In [ ]:
#Python Indentation
if 5>2:
  print("5 is greater than 2")

5 is greater than 2

In [ ]:
#Declaration of variable
x= 5
y = 2

if x>y:
  print("5 is greater than 2")
elif x<y:
  print("2 is greater than 5")
else:
  print("5 and 2 are equal")

In [ ]:
#Python Variable

a,b=0,-1
print (a)
print (b)

0
-1

In [ ]:
#Python variable with multiple  values
a,b,c=0,-1,-2
print(a)
print(b)
print(c)

0
-1
-2

In [ ]:
a = 1
b= 2
c =3
print(a)

1

In [ ]:
#Single Variable with Multiple Values
a = b = c = 4.5
print(a)
print(b)
print(c)

4.5
4.5
4.5

In [ ]:
print(type(a))

<class 'float'>

Casting

In [4]:
a = "Sally"
b = int(4)
print(b)
b = float(4)
print(a)

4
Sally

Type() function

In [6]:
a = "Sally"
print(type(a))
b = float(4)
print(type(b))

<class 'str'>
<class 'float'>

Double or Single Quotes

In [9]:
Y = "Ana"
y = 'John'
print(y)
print(Y)

John
Ana

In [13]:
a = "John"
print(a)

John

In [14]:
print(a)

John

Concatenation

In [20]:
x = "enjoying"
y = "Python is"
z = y + x
print(z)

Python isenjoying